db-*
Makefile
config.log
config.status
config.cache
libtool
autom4te.cache
*.o
*.lo
.libs
*.1
*.8
*.la
htdig
htfuzzy
htsearch
htdump
htload
htmerge
htnotify
htstat
htpurge
htdb_dump
htdb_load
htdb_stat
include/config.h
include/stamp-h1
db/db.h
db/db_config.h
db/stamp-h1
htdoc/attrs.html
test/test_functions
